<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    colors="true"
    processIsolation="true"
    stopOnFailure="true"
    syntaxCheck="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="extjstypes">
          <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
             <file>bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>